
.img{
    content: url(../../../../assets/logo-kruger.webp);
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    
}
.center{
    align-content: center;
}

mat-card{
    border-radius: 10px;
}